body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

/* Header */
header {
    background-color: #2563eb;
    color: white;
    padding: 30px;
    text-align: center;
}

/* Product Section */
.product {
    display: flex;
    gap: 30px;
    padding: 40px;
    background-color: white;
    margin: 30px;
    border-radius: 10px;
}

.product img {
    width: 300px;
    border-radius: 10px;
}

.details h2 {
    margin-top: 0;
}

.details ul {
    padding-left: 20px;
}

.price {
    font-size: 22px;
    font-weight: bold;
    margin: 15px 0;
}

/* Button */
button {
    padding: 12px 25px;
    background-color: #16a34a;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #15803d;
}

/* Footer */
footer {
    background-color: #111827;
    color: white;
    text-align: center;
    padding: 20px;
}
/* buy now form */
.form-container form {
    background: white;
    padding: 25px;
    width: 90%;
    max-width: 400px;
    margin: 10% auto;
    border-radius: 12px;
    text-align: center;
}
/* Popup Overlay */
.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Popup Box */
.popup-box {
    background: white;
    padding: 25px;
    width: 90%;
    max-width: 350px;
    border-radius: 12px;
    text-align: center;
}

/* Inputs */
.popup-box input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
}

/* Buttons */
.popup-box button {
    width: 100%;
    margin-top: 10px;
}

.cancel {
    background-color: #dc2626;
}
